 <div class="item">
        <img src="{{image}}" alt="">
        <div class="flexcontainer"></div>
          <h1 class="title"> {{recipe.label}}</h1>
          <a class="view-button" href="{{recipe.url}}"target="" >View Recope</a>
      </div>
      <p class="ingredient list">{{recipe.calories.toFixed(2)}}</p>