 <section>
      <div class="container">
        <h1 class="brand"> Honey am Home Recipes</h1>
        <form>
          <input type="text" placeholder="search your Recipe..">
          <ion-icon name="search"></ion-icon>
        </form>
      <div class="search-result">
        
          {{!-- <img src="./Honey.jpeg" alt="">
          <div class="flexcontainer"></div>
          <h1 class="title"> Recipes at Home</h1>
          <a class="view-button" href="#">View Recipe</a>
        </div>
        <p class="ingredient list">Calories: 200</p>
      </div>
      <div class="search-result">
        <div class="item">
          <img src="./Honey.jpeg" alt="">
          <div class="flexcontainer"></div>
          <h1 class="title"> Recipes at Home</h1>
          <a class="view-button" href="#">View Recipe</a>
        </div>
        <p class="ingredient list">Calories: 200</p>
      </div>
      <div class="search-result">
        <div class="item">
          <img src="./Honey.jpeg" alt="">
          <div class="flexcontainer"></div>
          <h1 class="title"> Recipes at Home</h1>
          <a class="view-button" href="#">View Recipe</a>
        </div>
        <p class="ingredient list">Calories: 200</p>
      </div> --}}
      {{#each results}}
      {{> result}}
      {{/each}}
      </div>
      

    </section>