<div class="container">
    <div class="container">
        <div class="section">
            <div class="input-group mb-3">
                <input class="form-control" id="searchInput" type="search" placeholder="Search for recipes">
                <button class="btn btn-info" id="searchButton" type="button">Search</button>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form action="" class="card">
                            <div class="mb-3">
                                <label for="loginEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="loginEmail">
                            </div>
                            <div class="mb-3">
                                <label for="loginPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="loginPassword">
                            </div>
                            <div class="mb-3 text-center">
                                <button class="btn btn-info" id="login">Sign-in</button>
                                <a class="btn btn-info" id="signup" href="/signup">Sign-up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" id="recipesBody">
                {{#each recipes}}
                {{/each}}
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/index.js"></script>
